
@model IList<BlogIndexAbout>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}
<div style="overflow-x:auto">

    <div style="margin-bottom:10px;">
        <a href="/Admin/BlogIndexHeader/Create" class="btn btn-success" style="width:100%">Add new slider</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">About Header</th>
                <th scope="col">About Description</th>
                <th scope="col">Recent titles</th>
                <th scope="col">Recent Description</th>
                <th scope="col">Categorise title</th>
                <th scope="col">Categories Description</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                   
                    <td>@Html.Raw(item.AboutHeadder)</td>
                    <td>@Html.Raw(item.ABoutDescription)</td>
                    <td>@item.RecetHeader</td>
                    <td>@item.RecentDesc</td>
                    <td>@item.CategoryHEader</td>
                    <td>@item.catgoryDesc</td>
                    <td>
                        <a href="/Admin/BlogIndexHeader/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/BlogIndexHeader/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                        <br />
                        <a href="/Admin/BlogIndexHeader/Details/@item.Id" style="color:red">Etrafli</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>