@model BlogDetails




<section class="blog-single" style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 posts-holder post-sidebar ">
                <article class="single-article-container">

                    <div class="post-image"> <img src="~/images/blog/@Model.Image" class="img-fluid" alt=""></div>
                    <ul class="blog-date">
                        <li class="meta-author"><i class="fa fa-user"></i> @Html.Raw(Model.Name)</li>
                        <li class="meta-date">@Model.Dates</li>
                        <li class="meta-categ"><a href="@Model.ButtonLink1" rel="category tag">@Html.Raw(Model.Buttontext1)</a> <a href="@Model.ButtonLink2" rel="category tag">@Model.Buttontext2</a></li>
                    </ul>
                    <h2 class="blog-title">@Model.Header</h2>
                    <div class="post-content single-post-content single-article-page clearfix">
                        <p>
                            @Html.Raw(Model.headerDesc)
                        </p>
                        <h2>@Html.Raw(Model.Title)</h2>
                        <p>@Html.Raw(Model.titleDesc)</p>
                        <blockquote class="wp-block-quote">
                            <p>@Html.Raw(Model.Aphorizm)</p>
                            <cite> @Html.Raw(Model.AphirzmWriter)</cite>
                        </blockquote>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                    <div class="tags-single-page"> <a href="#" rel="tag">accident</a> <a href="#" rel="tag">attorney</a> <a href="#" rel="tag">justice</a> <a href="#" rel="tag">lawyer</a> <a href="#" rel="tag">tax</a></div>
                    <div class="author-single-page">
                        <div class="author-avatar"> <img alt="" src="~/images/gravatar.png" class="avatar photo" width="100" height="100"></div>
                        <div class="author-content">
                            <h3><a href="#"> @Html.Raw(Model.Name)</a></h3>
                            <div class="author-text">@Html.Raw(Model.Comment)</div>
                        </div>
                    </div>

                    <!-- /post-content -->

                </article>
            </div>
            <!-- /col-lg-9 -->
            <div class="col-lg-3">
                <aside>
                    <ul>
                        <li class="widget">
                            <h5 class="widgettitle">About Us</h5>
                            <div class="textwidget">
                                <p><img class="img-fluid" src="~/images/blog/@Model.Image" alt=""></p>
                                <p>@Model.AboutDesc</p>
                            </div>
                        </li>
                        <li class="widget">
                            <form method="get" id="search-form" action="#"> <span><input type="text" name="s" id="search-string" placeholder="type and hit enter"></span></form>
                        </li>
                        <li class="widget widget_recent_entries">
                            <h5 class="widgettitle">@Model.RecentTitle</h5>
                            <ul>
                                @Html.Raw(Model.RecentDesc)
                            </ul>
                        </li>


                        <li class="widget widget_recent_entries">
                            <h5 class="widgettitle">@Model.CateagoriesTitle</h5>
                            <ul>
                                @Html.Raw(Model.CategoriesDesc)

                            </ul>
                        </li>
                        <li class="widget">
                            <h5 class="widgettitle">Tags</h5>
                            <div class="tagcloud"><a href="#">accident</a> <a href="#">airplaine</a> <a href="#">attorney</a> <a href="#">business</a><a href="#">divorce</a><a href="#">family</a><a href="#">finance</a><a href="#">justice</a><a href="#">law</a><a href="#">legal</a><a href="#">rights</a><a href="#">tax</a><a href="#">testament</a></div>
                        </li>

                    </ul>
                </aside>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>