@model HomeVM

<div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big">
    @foreach (var item in Model.sliders)
    {
        <div class="home-slide home-slide1 banner d-flex align-items-center">
            <img class="img-fluid" src="~/images/home/@item.Image" style="height:700px" alt="">
            <div class="slider-caption">
                <div class="slider-text">
                    <h2>@Html.Raw(item.Name)</h2>
                    <h4>@Html.Raw(item.Description)</h4>
                    <a class="btn-white" asp-action="Practice" asp-controller="Home">Find More</a>
                </div>
            </div>
        </div><!-- End .home-slide -->
    }

</div>


<section class="section-holder">
    <div class="container">
        @foreach (var item in Model.ourAbouts)
        {
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="intro-msg margin-b108">

                        <div class="intro-normal">@Html.Raw(item.Header)</div>
                        <div class="intro-2"><span class="intro-small-italic">@Html.Raw(item.headerUndeer)</span> <span class="intro-big-italic">@Html.Raw(item.Price)</span></div>
                        <div class="intro-year">@Html.Raw(item.Dates)</div>

                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                @if (item.Description != null)
                {
                    <div class="col-lg-4 margin-bm32">
                        <p>@Html.Raw(item.Description)</p>
                    </div>
                }
                @if (item.Description2 != null)
                {
                    <div class="col-lg-4 margin-bm32">
                        <p>@Html.Raw(item.Description2)</p>
                    </div>
                }
                @if (item.Description3 != null)
                {
                    <div class="col-lg-4 margin-bm32">
                        <p>@Html.Raw(item.Description3)</p>
                    </div>
                }

                @*<div class="col-lg-4 margin-bm32">
                        <p>Sed elit nulla, varius vitae lacus hendrerit, pulvinar tincidunt lacus. Suspendisse quis purus ultrices, convallis felis ac, pulvinar tortor. Etiam adipiscing enim diam, vitae lacinia ipsum volutpat id. Sed varius nisl quis justo feugiat, a tempor enim pellentesque.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Nullam at ligula at velit adipiscing malesuada et venenatis enim. Praesent lacinia volutpat imperdiet. Integer ultricies aliquam auctor. Etiam gravida sagittis ipsum nec dictum. Nunc pretium est quis placerat congue. Nam dui lectus, pretium get elit.</p>
                    </div>*@
            </div>
        }
        <!-- /row -->
    </div>
    <!-- /container -->
</section>




<section class="section-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 alignc">
                <span class="heading-subtitle">Legal Help</span>
                <h2 class="section-heading-title">Practice Areas</h2>
            </div>
        </div>
        <!-- /row -->
        <div class="row practice-items-holder">
            @foreach (var item in Model.practises)
            {
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a asp-action="Practice" asp-controller="Home">
                        <div class="practice-item">
                            <div class="practice-icon">@Html.Raw(item.Link)</div>
                            <h3 class="practice-title">@Html.Raw(item.Description)</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="view-more alignc margin-t72"><a asp-action="Practice" asp-controller="Home">View More</a></div>
    </div>
</section>


<section class="parallax section-holder" style="background-image:url('../images/bg.jpg');">
    @foreach (var item in Model.indexChooses)
    {
        <div class="container parallax-content">

            <div class="row">
                <div class="col-lg-8">
                    <span class="heading-subtitle white">Legal Help</span>
                    <h2 class="section-heading-title">Why Choose Us?</h2>
                </div>
            </div>

            <div class="row margin-b72">
                <div class="col-lg-6 margin-bm32">
                    <p>@Html.Raw(item.Textone) </p>
                </div>
                <div class="col-lg-6">
                    <p>@Html.Raw(item.TextTwo)</p>
                </div>
            </div>
            <!-- /row -->
            <div class="row alignc">
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@item.numberOne</div>
                    <p class="pcolor">@Html.Raw(item.numbroneDesc)</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@item.numberTwo</div>
                    <p class="pcolor">@Html.Raw(item.numbrTWoDesc)</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@item.numberThree</div>
                    <p class="pcolor">@Html.Raw(item.numbrThreeDesc)</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@item.numberFour</div>
                    <p class="pcolor">@Html.Raw(item.numbFourDesc)</p>
                </div>
            </div>


            <!-- /row -->
            <!-- /row -->
        </div>
    }
    <!-- /container -->
</section>


<section class="section-holder">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 alignc">
                <span class="heading-subtitle">Our Attorneys</span>
                <h2 class="section-heading-title">Professional Team</h2>
            </div>
        </div>
        <!-- /row -->

        <div class="row">

            @foreach (var item in Model.biographies)
            {
                <div class="col-lg-4 col-md-6">

                    <div class="lawyer-holder lawyer-3col">
                        <a href="/Home/Details/@item.Id"><img src="~/images/attorneys/@item.Image" style="height:500px" class="img-fluid" alt=""></a>
                        <div class="lawyer-position">@Html.Raw(item.Job)</div>
                        <h2 class="lawyer-title"><a href="attorneys-single-page.html">@Html.Raw(item.Name)</a></h2>
                        <div class="lawyer-excerpt">@Html.Raw(item.BioDescription)</div>
                        <ul class="lawyer-social">
                            @if (Html.Raw(item.IconsComminucate) != null)
                            {
                                <li><a href="#" target="_blank">@Html.Raw(item.IconsComminucate)</a></li>
                            }
                            @if (item.IconsComminucate2 != null)
                            {
                                <li><a href="#" target="_blank">@Html.Raw(item.IconsComminucate2)</a></li>
                            }@if (item.IconsComminucate3 != null)
                            {
                                <li><a href="#" target="_blank">@Html.Raw(item.IconsComminucate3)</a></li>
                            }

                        </ul>
                    </div>
                </div>
            }
        </div>
        <!-- /row -->
        <div class="view-more alignc"><a asp-action="TeamAllDetails" asp-controller="Home">View More</a></div>
    </div>
    <!-- /container -->
</section>

<section class="no-parallax section-holder section-home16">

    <div class="container">

        <div class="row">

            <div class="col-lg-8 offset-lg-2">

                <div class="testimonials-container">


                    <div class="owl-carousel owl-theme testimonials-slider">
                        @foreach (var item in Model.categories)
                        {
                            <div class="testimonial-item">

                                <div class="testimonial-desc">
                                    <i class="fas fa-quote-left"></i>
                                    <h5>@Html.Raw(item.Description)</h5>
                                </div>
                                <div class="testimonial-client"> <img src="~/images/testimonials/@item.Image" style="width:100px;height:100px;border-radius:50%;" alt=""></div>
                                <div class="client-name">@Html.Raw(item.Name)</div>
                                <div class="client-company">@Html.Raw(item.Company)</div>


                            </div>
                        }
                    </div>

                </div>

                <!-- /testimonials-container -->
            </div>

        </div>

    </div>

    <!-- /container -->
</section>

<section class="section-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 alignc">
                <span class="heading-subtitle">Legal Help</span>
                <h2 class="section-heading-title">Latest News</h2>
            </div>
        </div>
        <!-- /row -->
        <div class="row section-home-blog">
            @foreach (var item in Model.blogDetails)
            {
                <div class="col-md-4">
                    <article class="blog-item blog-item-2col-grid blog-item-3col-grid">
                        <a href="/Home/BlogDetails/@item.Id">
                            <div class="post-image"><img src="~/images/blog/@item.Image" style="height:400px" class="img-fluid" alt=""></div>
                        </a>
                        <ul class="blog-date">
                            <li class="meta-date">@Html.Raw(item.Dates)</li>
                            @if (item.Buttontext1 != null)
                            {
                                <li class="meta-categ">
                                    <a href="@item.ButtonLink1">@item.Buttontext1</a>
                                </li>
                            }
                            @if (item.Buttontext2 != null)
                            {
                                <li class="meta-categ">
                                    <a href="@item.ButtonLink1">@item.Buttontext2</a>
                                </li>
                            }
                        </ul>
                        <div class="post-holder">
                            <h2 class="blog-title"><a href="blog-single-post.html">@Html.Raw(item.Title)</a></h2>
                            <div class="article-excerpt">@Html.Raw(item.Description)</div>
                        </div>
                    </article>
                </div>
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>


<section class="parallax section-holder" style="background-image:url('../images/bg.jpg');">
    <div class="container parallax-content">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 alignc">
                @foreach (var item in Model.services)
                {
                    <span class="heading-subtitle white">@Html.Raw(item.Header)</span>
                    <h2 class="margin-b16">@Html.Raw(item.Title)</h2>
                    <p> @Html.Raw(item.Description)</p>
                    <div class="view-more view-more-white margin-t54 alignc"><a asp-action="Contact" asp-controller="Home">@Html.Raw(item.Buttontext)</a></div>

                }
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>


<section class="section-holder">
    <div class="container">
        <div class="row align-items-center">
            @foreach (var item in Model.allContacts)
            {
                <div class="col-lg-5">
                    <h3 class="margin-b16">@Html.Raw(item.AddressHeader)</h3>
                    <p>@Html.Raw(item.Address)</p>
                    <hr />
                    <h3 class="margin-b16">@Html.Raw(item.PhoneHeader)</h3>
                    <p>@Html.Raw(item.Phone)</p>
                    <hr />
                    <h3 class="margin-b16">@Html.Raw(item.OfficeHeader)</h3>
                    <p>@Html.Raw(item.Hours)</p>
                </div>
            }
            <div class="col-lg-7">
                @foreach (var item in Model.allContacts)
                {
                    <h2 class="section-heading-title margin-b16">@Html.Raw(item.ContactHeader)</h2>
                    <p>@Html.Raw(item.ContactHeaderDescription)</p>
                }
                <div id="contact-form-holder">


                    <form method="post" enctype="multipart/form-data">

                        <div class="row">

                            <div class="col-lg-4 margin-b32"><input type="text" asp-for="@Model.contact.Name" class="comm-field" placeholder="Name" required/></div>
                            <div class="col-lg-4 margin-b32"><input type="text" asp-for="@Model.contact.Email" class="comm-field" placeholder="Email" required/> </div>
                            <div class="col-lg-4 margin-b32"><input type="text" asp-for="@Model.contact.Subject" class="comm-field" placeholder="Subject" required /> </div>
                        </div>
                        <div class="margin-b32"><textarea asp-for="@Model.contact.Message" id="msg-contact" rows="5" placeholder="Message"></textarea></div>
                        <p class="antispam">Leave this empty: <input type="text" name="url" /></p>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>

                </div>
                <!-- contact-form-holder-->
                <div id="output-contact"></div>
            </div>
            <!-- /col-lg-7-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
