
@model IList<PageContact>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/PageContact/Create" class="btn btn-success" style="width:100%">Add new practise Areas</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Header</th>
            <th scope="col">Title</th>
            <th scope="col">Link</th>
            <th scope="col">Link Description</th>
            <th scope="col">Description</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Header</th>
                <th scope="row">@item.Title</th>
                <td>@Html.Raw(item.Link)</td>
                <td>@Html.Raw(item.LinkDescription)</td>
                <td>@item.Description</td>
                <td>
                    <a href="/Admin/PageContact/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                    <a href="/Admin/PageContact/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                    <br />
                    <a href="/Admin/PageContact/Details/@item.Id" style="color:red">Etrafli</a>
                </td>
            </tr>

        }

    </tbody>
</table>