
@model IList<Contact>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}
<table class="table table-bordered table-striped">
    <thead class="bg-login-image">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Messsage</th>
            <th scope="col">Are you ready?</th>
            <th scope="col">My Opinion</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@Html.Raw(item.Name)</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td>
                    <input type="radio" id="html" name="fav_language" asp-for="@item.ReadyForm" value="true">
                    <label for="html">Yes</label>
                    <br>
                    <input type="radio" id="css" name="fav_language" asp-for="@item.ReadyForm" value="false">
                    <label for="css">No</label>
                    <br>
                </td>
                <td>@Html.Raw(item.MyOpinion)</td>

                <td>
                    <a class="btn btn-success" href="/Admin/Contact/CreateOpinion/@item.Id">Write opinion</a>
                    <a class="btn btn-danger" href="/Admin/Contact/Delete/@item.Id"><i class="fas fa-trash-alt"></i></a>
                    <a class="btn btn-primary" href="/Admin/Contact/Details/@item.Id" style="color:red">Etrafli</a>
                </td>
            </tr>

        }
    </tbody>
</table>