
@model AttorneyWork

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Header</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Button Text</th>
            <th scope="col">Button Link</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Header</td>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.Buttontext</td>
            <td>@Model.ButtonLink</td>


        </tr>


    </tbody>
</table>