
@model IList<Service>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/Service/Create" class="btn btn-success" style="width:100%">Add new slider</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Header</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Button Text</th>
            <th scope="col">Button Link</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@Html.Raw(item.Header)</td>
                <td>@item.Title</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Buttontext</td>
                <td>@item.ButtonLink</td>

                <td>
                    <a href="/Admin/Service/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                    <a href="/Admin/Service/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                    <br />
                    <a href="/Admin/Service/Details/@item.Id" style="color:red">Etrafli</a>
                </td>
            </tr>

        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel"> Create Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="groupName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btnCreate" type="button" class="btn btn-primary">SaveChanges</button>
            </div>
        </div>
    </div>
</div>
