@model IList<Teams>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/Team/Create" class="btn btn-success" style="width:100%">Add new slider</a>
</div>
<div style="overflow-x:auto">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Job</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">SocialNetworkLinkIconFirst</th>
                <th scope="col">SocialNetworkLinkIconTwo</th>
                <th scope="col">SocialNetworkLinkIconThree</th>
                <th scope="col">SocialNetworkLinkIconFour</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>
                        <img width="200" height="150" src="~/images/team/@item.Image" alt="Alternate Text" />
                    </td>
                    <td>@Html.Raw(item.Job)</td>
                    <td>@Html.Raw(item.Name)</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@item.SocialNetworkLink</td>
                    <td>@item.SocialNetworkLink2</td>
                    <td>@item.SocialNetworkLink3</td>
                    <td>@item.SocialNetworkLink4</td>
                    <td>
                        <a href="/Admin/Teams/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/Teams/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                        <br />
                        <a href="/Admin/Teams/Details/@item.Id" style="color:red">Etrafli</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>