
@model IList<OurAbout>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/OurAbout/Create" class="btn btn-success" style="width:100%">Add new slider</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Header</th>
            <th scope="col">Header continue</th>
            <th scope="col">Price</th>
            <th scope="col">Dates</th>
            <th scope="col">Description</th>
            <th scope="col">Description Two</th>
            <th scope="col">Description Three</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Header</th>
                <th scope="row">@item.headerUndeer</th>
                <td>@Html.Raw(item.Price)</td>
                <th scope="row">@item.Dates</th>
                <td>@item.Description</td>
                <td>@item.Description2</td>
                <td>@item.Description3</td>

                <td>
                    <a href="/Admin/OurAbout/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                    <a href="/Admin/OurAbout/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                    <br />
                    <a href="/Admin/OurAbout/Details/@item.Id" style="color:red">Etrafli</a>
                </td>
            </tr>

        }
    </tbody>
</table>